<h1> Teste de página index na welcome controller </h1>
<h2> Teste teste teste </h2>
<%= @teste %>
<br><br>
<%= link_to "Cadastro de clientes", customers_path %>

<h3>
    <%= t('hello') %>
    <%= t('friends') %>
</h3>